{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="static/css/bootstrap_pagination.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/books.css') }}">
{% endblock %}

{% block body %}
    <div class="title__wrapper">
        <div class="title">
            Books I love
        </div>
    </div>

    <div class="main-content__wrapper">
        <div class="main-content">
            <div class="table-responsive">
                <table class="table table-hover">
                    <tbody>
                        {% for book in books %}
                            <div class="book">
                                <div class="book__info">
                                    <img class="book__img" src="{{ book['img'] }}">
                                    <div class="book__title">
                                        {{ book["title"] }}
                                    </div>
                                    <div class="book__author">
                                        {{ book["author"] }}
                                    </div>
                                </div>
                                <div class="book__overlay">
                                    <div class="book__description">
                                        {{ book["review"] }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>
                {{ pagination.links }}
            </div>
        </div>
    </div>
{% endblock %}
