{% extends 'base.html' %}

  {% block head %}

    <link rel="stylesheet" href="static/css/bootstrap_pagination.css">
    <link rel = "stylesheet" href = "{{ url_for('static', filename = '/css/books.css') }}">

  {% endblock %}

{% block body %}

    <div class = "title__wrapper">
        <div class = 'title'>
            My projects
        </div>
    </div>

    <div class = "main-content__wrapper">
        <div class = "main-content">
            <div class = "main__project-row">
                <div class = "main__project-row__title">
                    Top 250 Movies from the IMDb
                </div>
                <a href = "https://github.com/dragan717080/IMDBTop250Movies">Github</a>
            </div>
            <div class = "main__project-row">
                <div class = "main__project-row__title">
                    Spanish Primera Football League
                </div>
                <a href = "https://github.com/dragan717080/LaLigaSantander">Github</a>
            </div>
            <div class = "main__project-row">
                <div class = "main__project-row__title">
                    Urbe Cafe Bar Website
                </div>
                <a href = "https://github.com/dragan717080/CafeBar">Github</a>
            </div>
        </div>
    </div>

{% endblock %}
